<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=LAPTOP-NN2QR8SO\SQLEXPRESS;Initial Catalog=VideoRental_Navjit;Integrated Security=SSPI; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>